<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add_car</servlet-name>
        <servlet-class>add_car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_car</servlet-name>
        <servlet-class>edit_car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del_car</servlet-name>
        <servlet-class>del_car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchant_signup</servlet-name>
        <servlet-class>merchant_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_cars</servlet-name>
        <servlet-class>get_cars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_car_details</servlet-name>
        <servlet-class>get_car_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_unique_user</servlet-name>
        <servlet-class>check_unique_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set_city_session</servlet-name>
        <servlet-class>set_city_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_user_login</servlet-name>
        <servlet-class>serverForMobile.check_user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login_servlet</servlet-name>
        <servlet-class>user_login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_bike</servlet-name>
        <servlet-class>add_bike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set_vehicle_type_session</servlet-name>
        <servlet-class>set_vehicle_type_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_cars_mobile</servlet-name>
        <servlet-class>serverForMobile.get_cars_mobile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_car</servlet-name>
        <url-pattern>/add_car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_car</servlet-name>
        <url-pattern>/edit_car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del_car</servlet-name>
        <url-pattern>/del_car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchant_signup</servlet-name>
        <url-pattern>/merchant_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_cars</servlet-name>
        <url-pattern>/get_cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_car_details</servlet-name>
        <url-pattern>/get_car_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_unique_user</servlet-name>
        <url-pattern>/check_unique_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_city_session</servlet-name>
        <url-pattern>/set_city_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_user_login</servlet-name>
        <url-pattern>/check_user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login_servlet</servlet-name>
        <url-pattern>/user_login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_bike</servlet-name>
        <url-pattern>/add_bike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_vehicle_type_session</servlet-name>
        <url-pattern>/set_vehicle_type_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_cars_mobile</servlet-name>
        <url-pattern>/get_cars_mobile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
